@import "./../../../../shared/scss/colors";

:host ::ng-deep {
    .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
        padding: 0px;
    }

    .mat-form-field-underline {
        display: none;
    }
}

.mat-dialog-container {
    padding: 30px !important;
}
form {
    h2 {
        color: $o-dark-orange;
        font-size: 24px;
    }

    .error {
        color: #e91e63;
    }

    .icon {
        cursor: pointer;
    }
}

:host ::ng-deep {
    .mat-form-field-underline {
        display: none;
    }

    .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
        padding: 0px;
    }
}
