<mat-divider></mat-divider>

<form (ngSubmit)="onSubmit()" novalidate>

  <div class="col-6 mt-3">
    <mat-form-field appearance="fill">
      <mat-label>{{'Select default pickup branch' | translate}}</mat-label>
      <mat-select [(ngModel)]="selectedBranch" name="branch">
        <mat-option [value]="undefined">
          None
        </mat-option>
        <mat-option *ngFor="let branch of branchs" [value]="branch.id">
          {{branch.restaurant.name}} / {{branch.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-12 align-right-button">
    <button mat-raised-button color="primary" type="submit"
      class="confirm-btn o-add-btn">{{'Update' | translate}}</button>
  </div>

</form>
