@import "./../../../shared/scss/colors";

section {
    table {
        width: 100%;
        box-shadow: none;

        th {
            color: blue;
        }

        .mat-icon {
            cursor: pointer;
            color: $o-orange;
        }
    }

    .filter {
        background-color: white;

        .clear {
            border: 1px solid red;
            border-radius: 50px;
        }
    }

    .cut-address {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

::ng-deep {
    .mat-form-field-appearance-fill .mat-form-field-flex {
        padding: 0px;
        padding-left: 5px;
        border-radius: 0px;
    }

    .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
        padding: 0px;
    }

    .mat-form-field-underline {
        display: none;
    }

    .mat-checkbox .mat-checkbox-frame {
        border-color: $o-orange;
        border-width: 2px;
    }

    .mat-form-field-required-marker {
        color: red;
    }
}
