<mat-divider></mat-divider>

<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

    <div class="col-6 mt-3">
        <mat-form-field appearance="fill">
            <mat-label class="dms-label-color">{{'Select dashboard language' | translate}}</mat-label>
            <input matInput aria-label="lang" [matAutocomplete]="dashoardAutocomplete"
                formControlName="DashBoardLanguage">
            <mat-icon matSuffix>arrow_drop_down</mat-icon>
            <mat-autocomplete #dashoardAutocomplete="matAutocomplete">
                <mat-option *ngFor="let lang of languages  " [value]="lang.name">
                    <span>{{lang.name}}</span>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

    <!-- <div class="col-6">
        <mat-form-field appearance="fill">
            <mat-label class="dms-label-color">Select tracking panel language</mat-label>
            <input matInput aria-label="State" [matAutocomplete]="trackingAutocomplete"
                formControlName="TrackingPanelLanguage">
            <mat-icon matSuffix>arrow_drop_down</mat-icon>
            <mat-autocomplete #trackingAutocomplete="matAutocomplete">
                <mat-option *ngFor="let state of filteredTrackingLangs | async" [value]="state.name">
                    <span>{{state.name}}</span>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div> -->

    <div class="col-12 align-right-button">
        <button mat-raised-button color="primary" type="submit"
            class="confirm-btn o-add-btn">{{'Update' | translate}}</button>
    </div>

</form>
