@import "./../../shared/scss/colors";

.container-fluid {
  padding: 0px;
}

section {
  background-image: url("assets/images/auth-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 800px;

  form {
    background-color: white;
    padding: 15px;
    border-radius: 25px;
    padding-left: 60px;
    padding-right: 60px;

    h2 {
      line-height: 1px;
      color: $o-orange;
      font-weight: 600;
    }

    img {
      height: 80px;
      width: 180px;
    }

    ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
      padding: 0px;
      padding-left: 5px;
      border-radius: 0px;
    }

    ::ng-deep .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
      padding: 0px;
    }

    ::ng-deep .mat-form-field-underline {
      display: none;
    }

    ::ng-deep .mat-label {
      color: $o-orange;
    }

    .icon {
      color: $o-orange;
    }

    ::ng-deep .progress {
      margin: 0 auto;
    }
  }

  .o-add-btn {
    height: 50px;
    color: white;
    border-radius: 10px !important;
    background-color: $o-orange;
  }

  .sign-up {
    font-weight: 500;
    color: 18px;
    color: $o-orange;
  }

  ::ng-deep .mat-label {
    color: $o-orange;
  }
}
