::ng-deep .mat-dialog-container {
    border-radius: 30px;
}

a {
    color: blue;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.cancel-btn {
    color: #d0021b;
    border: 1px solid #d0021b;
    border-radius: 50px;
}
