<form class="row" #form="ngForm">
    <div class="col-md-4 col-sm-12 col-xs-12">
        <mat-form-field appearance="fill" dir="auto">
            <mat-label class="dms-label-color p-1">{{'Area' | translate}}</mat-label>
            <mat-select (selectionChange)="onSelectOption($event,'area')" [(ngModel)]="address.area" name="area">
                <mat-option>
                    <ngx-mat-select-search [(ngModel)]="address.filterArea" name="filterAreaCtrl"
                        placeholderLabel="{{'Select area' | translate}}"
                        noEntriesFoundLabel="{{'No matching area found' | translate}}" [clearSearchInput]="true">
                    </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let area of areas | filter:address.filterArea" [value]="area" matTooltip="{{area}}">
                    {{area}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-md-4 col-sm-12 col-xs-12">
        <mat-form-field appearance="fill" dir="auto">
            <mat-label class="dms-label-color p-1">{{'Block No' | translate}}</mat-label>
            <mat-select (selectionChange)="onSelectOption($event,'block')" [(ngModel)]="address.block" name="block">
                <mat-option>
                    <ngx-mat-select-search [(ngModel)]="address.filterBlock" name="filterBlockCtrl"
                        placeholderLabel="{{'Select block' | translate}}"
                        noEntriesFoundLabel="{{'No matching block found' | translate}}" [clearSearchInput]="true">
                    </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let block of blocks | filter:address.filterBlock" [value]="block"
                    matTooltip="{{block}}">
                    {{block}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-md-4 col-sm-12 col-xs-12">
        <mat-form-field appearance="fill" dir="auto">
            <mat-label class="dms-label-color p-1">{{'Street No' | translate}}</mat-label>
            <mat-select (selectionChange)="onSelectOption($event,'street')" [(ngModel)]="address.street" name="street">
                <mat-option>
                    <ngx-mat-select-search [(ngModel)]="address.filterStreet" name="filterStreetCtrl"
                        placeholderLabel="Select street" noEntriesFoundLabel="No matching street found"
                        [clearSearchInput]="true">
                    </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let street of streets | filter:address.filterStreet" [value]="street"
                    matTooltip="{{street}}">
                    {{street}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-md-4 col-sm-12 col-xs-12">
        <mat-form-field appearance="fill">
            <mat-label class="dms-label-color p-1">{{'Building' | translate}}</mat-label>
            <input class="p-1" matInput type="text" [(ngModel)]="address.building" name="building" #building>
        </mat-form-field>
    </div>

    <div class="col-md-4 col-sm-12 col-xs-12">
        <mat-form-field appearance="fill">
            <mat-label class="dms-label-color p-1">{{'Floor' | translate}}</mat-label>
            <input class="p-1" matInput type="text" [(ngModel)]="address.floor" name="floor">
        </mat-form-field>
    </div>

    <div class="col-md-4 col-sm-12 col-xs-12">
        <mat-form-field appearance="fill">
            <mat-label class="dms-label-color p-1">{{'Flat' | translate}}</mat-label>
            <input class="p-1" matInput type="text" [(ngModel)]="address.flat" name="floor">
        </mat-form-field>
    </div>
</form>