@import "./../../../../shared/scss/_colors.scss";

/* delete account section*/

.reason-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.reason-radio-button {
    margin: 5px;
}

.align-right-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

::ng-deep {
    .mat-dialog-container {
        border-radius: 30px;
    }

    .mat-form-field-appearance-fill .mat-form-field-flex {
        padding: 0px;
        padding-left: 5px;
        border-radius: 0px;
    }

    .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
        padding: 0px;
    }

    .mat-form-field-underline {
        display: none;
    }

    .mat-radio-inner-circle {
        background-color: $o-orange !important;
    }
}
