<section class="container-fluid pt-3 pb-3">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="col-6 mx-auto">

        <div class="text-center">
            <img src="assets/images/light-logo.png">
        </div>
        <h2 class="pl-3 sign-up">{{"Sign up" | translate}}</h2>

        <mat-form-field appearance="fill">
            <mat-label class="dms-label-color">{{"Full name" | translate}}</mat-label>
            <input type="text" matInput formControlName="fullName">
            <mat-error *ngIf="!form.controls['fullName'].valid">
                {{getError('fullName')}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label class="dms-label-color">{{"Email" | translate}}</mat-label>
            <input type="email" matInput formControlName="email">
            <mat-error *ngIf="!form.controls['email'].valid">
                {{getError('email')}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" [ngClass]="{'mb-5' : !form.controls['password'].valid}">
            <mat-label class="dms-label-color">{{"Password" | translate}}</mat-label>
            <input type="password" matInput formControlName="password">
            <mat-error *ngIf="!form.controls['password'].valid">
                {{getError('password')}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label class="dms-label-color">{{"Confirm Password" | translate}}</mat-label>
            <input type="password" matInput formControlName="confirmPassword" onPaste="return false">
            <mat-error *ngIf="!form.controls['confirmPassword'].valid">
                {{getError('confirmPassword')}}
            </mat-error>
        </mat-form-field>

        <div fxLayout="row wrap">
            <app-country-codes (country)="onChangeCountry($event)" fxFlex="20%"></app-country-codes>
            <mat-form-field fxFlex="80%" appearance="fill">
                <mat-label class="dms-label-color">{{"Phone" | translate}}</mat-label>
                <input matInput type="number" formControlName="phoneNumber">
                <mat-error *ngIf="!form.controls['phoneNumber'].valid">
                    {{getError('phoneNumber')}}
                </mat-error>
            </mat-form-field>

            <span class="error ml-5" *ngIf="numberMessage !=''">
                *{{numberMessage}}
            </span>
        </div>

        <div fxLayout="row wrap">

            <mat-checkbox [required]="true" (change)="onChangeAccept($event)" fxFlex="100%">
                {{"By clicking sign up, you agree to our" | translate}} <a [routerLink]="terms"   target="_blank">
                    {{'terms' | translate}}
                </a> {{ "and" | translate}} <a [routerLink]="privacyPolicy" target="_blank">
                    {{"privacy policy" | translate}}</a>
            </mat-checkbox>

            <br>

            <div fxFlex="100%" class="mt-1 mb-1">
                <span class="error" *ngIf="acceptMessage !=''">
                    *{{acceptMessage}}
                </span>
            </div>

            <br>

            <button mat-raised-button mat-button class="o-add-btn" fxFlex="100%">
                {{'Sign up' | translate}}
            </button>

            <div fxFlex="100%" class="mt-3">
                {{"Already have an account?" | translate}}<a [routerLink]="login" class="sign-in">
                    {{"Sign in" | translate}}</a>
            </div>
        </div>

    </form>
</section>
