@import "./../../shared/scss/colors";
section {
  background-image: url("assets/images/auth-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 800px;

  form {
    margin-top: 2.5em;
    background-color: white;
    padding: 15px;
    border-radius: 25px;

    img {
      height: 80px;
      width: 180px;
    }

    .sign-up {
      color: $o-orange;
    }

    .error {
      color: #e91e63;
      font-size: 12px;
      line-height: 1px;
      padding-left: 20px;
      padding-top: 10p;
      margin-bottom: 15px;
    }

    .o-add-btn {
      height: 50px;
      color: white;
      border-radius: 10px !important;
      background-color: $o-orange;
    }

    ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
      padding: 0px;
      padding-left: 5px;
      border-radius: 0px;
    }

    ::ng-deep .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
      padding: 0px;
    }

    ::ng-deep .mat-form-field-underline {
      display: none;
    }

    ::ng-deep .mat-label {
      color: $o-orange;
    }

    .sign-in {
      color: $o-orange;
    }

    ::ng-deep .mat-label {
      color: $o-orange;
    }
  }
}
