@import "./../scss/colors";

.chanage-password {
    .mat-card {
        margin: 0px;
        border-radius: 0px;
        .mat-card-content {
            padding: 0px 24px;
        }

        .mat-card-header {
            color: $o-orange;
        }
    }

    .actions {
        float: right;

        .cancel-btn,
        .update-btn {
            cursor: pointer;
            height: 35px;
            border-radius: 25px;
            width: 150px;
            font-weight: 700;
            border: 2px solid $o-orange;
        }

        .cancel-btn {
            color: black;
            background-color: $light-grey;
            border: 2px solid $light-grey;
        }

        .cancel-btn:hover {
            background-color: white;
            border: 2px solid $light-grey;
        }

        .update-btn {
            color: white;
            background-color: $o-orange;
        }

        .update-btn:hover {
            background-color: white;
            color: $o-orange;
            border: 2px solid $o-orange;
        }
    }
}

::ng-deep {
    .mat-dialog-container {
        border-radius: 30px !important;
    }

    .mat-form-field-appearance-fill .mat-form-field-flex {
        padding: 0px;
        padding-left: 5px;
        border-radius: 0px;
    }

    .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
        padding: 0px;
    }

    .mat-form-field-underline {
        display: none;
    }
}

.no-btn-style {
    padding: 0px;
}
