<section>
    <div class="notifications">
        <h4>
            {{'Notifications' | translate}}
        </h4>

        <p>
            {{'Send custom SMS, emails and webhooks based on each trigger and customize the content by clicking on the pencil icon' | translate}}.
        </p>

        <h6>{{'Pickup Notifications' | translate}}</h6>
        <table mat-table [dataSource]="pickupDataSource" class="mat-elevation-z8 custom-table">

            <ng-container matColumnDef="events">
                <th mat-header-cell *matHeaderCellDef> {{'Events' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.events}} </td>
            </ng-container>

            <ng-container matColumnDef="admin">
                <th mat-header-cell *matHeaderCellDef> {{'Admin' | translate}} </th>
                <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle [(checked)]="element.admin.value"
                        (change)="OnSelectedchecked($event,element.admin)">

                    </mat-slide-toggle>
                </td>
            </ng-container>

            <ng-container matColumnDef="adminNotifyBy">
                <th mat-header-cell *matHeaderCellDef> {{'Notify by' | translate}} </th>
                <td mat-cell *matCellDef="let element">
                    <mat-select [(value)]="element.adminNotifyBy.defaultValue.value"
                        (selectionChange)="OnSelectedChange($event,element.adminNotifyBy)">
                        <mat-option *ngFor="let item of element.adminNotifyBy.data" [value]="item.value">
                            {{item.text}}
                        </mat-option>
                    </mat-select>

                </td>
            </ng-container>

            <ng-container matColumnDef="manager">
                <th mat-header-cell *matHeaderCellDef> {{'Manager' |  translate}} </th>
                <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle [(checked)]="element.manager.value"
                        (change)="OnSelectedchecked($event,element.manager)">
                    </mat-slide-toggle>
                </td>
            </ng-container>

            <ng-container matColumnDef="managerNotifyBy">
                <th mat-header-cell *matHeaderCellDef> {{'Notify by' | translate}} </th>
                <td mat-cell *matCellDef="let element">
                    <mat-select [(value)]="element.managerNotifyBy.defaultValue.value"
                        (selectionChange)="OnSelectedChange($event,element.managerNotifyBy)">
                        <mat-option *ngFor="let item of element.managerNotifyBy.data" [value]="item.value">
                            {{item.text}}
                        </mat-option>
                    </mat-select>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <h6>{{'Delivery Notifications' | translate}}</h6>
        <table mat-table [dataSource]="deliveryDataSource" class="mat-elevation-z8 custom-table">

            <ng-container matColumnDef="events">
                <th mat-header-cell *matHeaderCellDef> {{'Events' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.events}} </td>
            </ng-container>
            <ng-container matColumnDef="admin">
                <th mat-header-cell *matHeaderCellDef> {{'Admin' | translate}} </th>
                <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle [(checked)]="element.admin.value"
                        (change)="OnSelectedchecked($event,element.admin)">

                    </mat-slide-toggle>
                </td>
            </ng-container>

            <ng-container matColumnDef="adminNotifyBy">
                <th mat-header-cell *matHeaderCellDef> {{'Notify by' | translate}} </th>
                <td mat-cell *matCellDef="let element">
                    <mat-select [(value)]="element.adminNotifyBy.defaultValue.value"
                        (selectionChange)="OnSelectedChange($event,element.adminNotifyBy)">
                        <mat-option *ngFor="let item of element.adminNotifyBy.data" [value]="item.value">
                            {{item.text}}
                        </mat-option>
                    </mat-select>
                </td>
            </ng-container>

            <ng-container matColumnDef="manager">
                <th mat-header-cell *matHeaderCellDef> {{'Manager' |  translate}} </th>
                <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle [(checked)]="element.manager.value"
                        (change)="OnSelectedchecked($event,element.manager)">
                    </mat-slide-toggle>
                </td>
            </ng-container>

            <ng-container matColumnDef="managerNotifyBy">
                <th mat-header-cell *matHeaderCellDef> {{'Notify by' | translate}} </th>
                <td mat-cell *matCellDef="let element">
                    <mat-select [(value)]="element.managerNotifyBy.defaultValue.value"
                        (selectionChange)="OnSelectedChange($event,element.managerNotifyBy)">
                        <mat-option *ngFor="let item of element.managerNotifyBy.data" [value]="item.value">
                            {{item.text}}
                        </mat-option>
                    </mat-select>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <br>
        <br>
        <h6>{{'general notifications' | translate}}</h6>
        <table mat-table [dataSource]="generalNotificationSource" class="mat-elevation-z8 custom-table">

            <ng-container matColumnDef="events">
                <th mat-header-cell *matHeaderCellDef> {{'Events' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.events}} </td>
            </ng-container>
            <ng-container matColumnDef="admin">
                <th mat-header-cell *matHeaderCellDef> {{'Admin' | translate}} </th>
                <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle [(checked)]="element.admin.value"
                        (change)="OnSelectedchecked($event,element.admin)">

                    </mat-slide-toggle>
                </td>
            </ng-container>

            <ng-container matColumnDef="adminNotifyBy">
                <th mat-header-cell *matHeaderCellDef> {{'Notify by' | translate}} </th>
                <td mat-cell *matCellDef="let element">
                    <mat-select [(value)]="element.adminNotifyBy.defaultValue.value"
                        (selectionChange)="OnSelectedChange($event,element.adminNotifyBy)">
                        <mat-option *ngFor="let item of element.adminNotifyBy.data" [value]="item.value">
                            {{item.text}}
                        </mat-option>
                    </mat-select>
                </td>
            </ng-container>

            <ng-container matColumnDef="manager">
                <th mat-header-cell *matHeaderCellDef> {{'Manager' | translate}} </th>
                <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle [(checked)]="element.manager.value"
                        (change)="OnSelectedchecked($event,element.manager)">
                    </mat-slide-toggle>
                </td>
            </ng-container>

            <ng-container matColumnDef="managerNotifyBy">
                <th mat-header-cell *matHeaderCellDef> {{'Notify by' | translate}} </th>
                <td mat-cell *matCellDef="let element">
                    <mat-select [(value)]="element.managerNotifyBy.defaultValue.value"
                        (selectionChange)="OnSelectedChange($event,element.managerNotifyBy)">
                        <mat-option *ngFor="let item of element.managerNotifyBy.data" [value]="item.value">
                            {{item.text}}
                        </mat-option>
                    </mat-select>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <!-- <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{'ADDITIONAL NOTIFICATIONS' | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <table mat-table [dataSource]="pickupDataSource" class="mat-elevation-z8 custom-table">

                    <ng-container matColumnDef="events">
                        <th mat-header-cell *matHeaderCellDef> {{'Events' | translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.events}} </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> {{'Email' | translate}} </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-slide-toggle [checked]="element.email"></mat-slide-toggle>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="sms">
                        <th mat-header-cell *matHeaderCellDef> {{'SMS' | translate}} </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-slide-toggle [checked]="element.sms"></mat-slide-toggle>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="webhooks">
                        <th mat-header-cell *matHeaderCellDef> {{'Webhooks' | translate}} </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-slide-toggle [checked]="element.webhooks"></mat-slide-toggle>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> {{'Actions' | translate}} </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
                                <mat-icon>more_horiz</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-expansion-panel>
        </mat-accordion> -->

        <br>
        <br>

        <!-- <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{'ADDITIONAL NOTIFICATIONS' | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <table mat-table [dataSource]="pickupDataSource" class="mat-elevation-z8 custom-table">

                    <ng-container matColumnDef="events">
                        <th mat-header-cell *matHeaderCellDef> {{'Events' | translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.events}} </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> {{'Email' | translate}} </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-slide-toggle [checked]="element.email"></mat-slide-toggle>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="sms">
                        <th mat-header-cell *matHeaderCellDef> {{'SMS' | translate}} </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-slide-toggle [checked]="element.sms"></mat-slide-toggle>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="webhooks">
                        <th mat-header-cell *matHeaderCellDef> {{'Webhooks' | translate}} </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-slide-toggle [checked]="element.webhooks"></mat-slide-toggle>
                        </td>
                    </ng-container>


                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> {{'Actions' | translate}} </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
                                <mat-icon>more_horiz</mat-icon>
                            </button>
                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-expansion-panel>
        </mat-accordion> -->

    </div>
</section>

<mat-menu #menu="matMenu">
    <button mat-menu-item>{{'Edit' | translate}}</button>
</mat-menu>