$black: black;
$blue: #1e88e5;
$grey: #9b9b9b;
$light-grey: #d3d3d3;
$bg: #fafafa;

// theme
$o-gray: #e1e2e1;
$o-light-gray: #fafafa;
$o-dark-gray: gray;

$o-orange: orange;
$o-dark-orange: #c28000;
$o-light-orange: #ffe170;

$o-black: #212121;
$o-light-black: #000000;

$o-primary: #56205e;
$o-secondary: #fcc500;
$o-tertiary: #e05833;
