@import "./../../../shared/scss/colors";

section {
    table {
        width: 100%;

        th {
            color: blue;
            font-size: 14px;
        }
    }

    .mat-icon {
        font-size: 35px;
        color: $o-orange;
    }

    .restaurants {
        padding: 15px;

        h2 {
            color: $o-orange;
        }

        p {
            color: $grey;
        }
    }

    .mat-menu-item:hover {
        border-left: 3px solid $o-orange;
        background: none !important;
        padding-left: 13px;
    }

    .zone-column,
    .restaurant-column,
    .branch-column {
        width: 20%;
    }

    .manager-column,
    .designation-column {
        width: 15%;
    }

    .index-column,
    .actions-column {
        width: 5%;
    }
}

::ng-deep {
    .mat-paginator-container,
    .mat-paginator-page-size .mat-select-trigger {
        font-weight: bold;
        font-size: 16px;
    }
}
