<mat-form-field class="full-width" appearance="fill">
    <mat-select matNativeControl name="states" [(ngModel)]="selectedState" class="selected-code" required>
        <mat-select-trigger>
            <span class="code"> {{selectedState?.name}}</span>
        </mat-select-trigger>
        <mat-option *ngFor="let state of states" [value]="state" (click)="setValue()">
            <img class="option-img" [src]="imageUrl + state?.flag" height="25" width="32">
            {{state?.name}}
        </mat-option>
    </mat-select>
</mat-form-field>