::ng-deep .mat-dialog-container {
  border-radius: 30px;
}

form {
  .close {
    cursor: pointer;
  }

  h4 {
    color: gray;
    font-size: 16px;
  }
  .error {
    color: red;
  }
}

::ng-deep {
  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0px;
    padding-left: 5px;
    border-radius: 0px;
  }

  .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
    padding: 0px;
  }

  .mat-form-field-underline {
    display: none;
  }
}
