@import "./../../../../shared/scss/colors";

:host ::ng-deep {
  .mat-icon {
    cursor: pointer;
  }

  .mat-dialog-container {
    border-radius: 30px;
  }

  mat-icon:hover {
    color: $o-orange;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0px;
    padding-left: 5px;
    border-radius: 0px;
  }

  .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
    padding: 0px;
  }

  .mat-form-field-underline {
    display: none;
  }
}

.avatar {
  padding-top: 30px;
  img {
    height: 200px;
    width: 200px;
  }

  .transport-type {
    img {
      padding: 15px;
    }
  }
}

// scroll
.mat-dialog-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.mat-dialog-container::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.mat-dialog-container::-webkit-scrollbar-thumb {
  background-color: $o-orange;
  border-radius: 5px;
}

#file-label {
  display: inline-flex;
  vertical-align: middle;
  font-size: 12px;
  line-height: 18px;
}

#file-label mat-icon {
  font-size: 18px;
  text-align: center;
}

#file-label a {
  cursor: pointer;
}

#map {
  width: 100%;
  min-height: 400px;
}

.mat-hint {
  color: #e91e63;
}
