@import "./../../../shared/scss/colors";

.customers {
  margin-top: 1em;

  .add {
    border-radius: 50px;
    background-color: $o-orange;
    color: white;
  }

  .actions {
    padding-left: 15px;
    padding-top: 5px;
  }
}

.mat-card {
  padding: 15px !important;
  border-radius: 15px;
}

.Driver {
  padding: 15px;

  p {
    color: $grey;
  }

  .custom-table {
    margin-top: 50px;
  }

  td {
    img {
      padding: 5px;
      height: 64px;
      width: 64px;
    }
  }

  .mat-menu-item:hover {
    border-left: 3px solid $o-orange;
    background: none !important;
    padding-left: 13px;
  }

  table {
    width: 100%;

    th {
      color: blue;
    }
  }

  .full-width {
    width: 100%;
  }

  .search-input {
    background-color: white;
    padding-left: 45px;
    height: 50px;
    border-radius: 5px;
    width: 100%;
  }

  .search-icon {
    height: 32px;
    width: 32px;
    color: $o-orange;
  }

  #search {
    cursor: pointer;
    position: absolute;
    left: 25px;
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 15px;
  }

  #search:hover {
    color: $o-orange;
  }

  .mat-list-item-content {
    height: 15px !important;
  }

  .custom-table {
    margin-top: 1% !important;
  }

  mat-form-field-underline {
    display: none !important;
  }

  .mat-elevation-z8 {
    box-shadow: none;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #f9f9f9;
    padding: 0px;
    padding-left: 5px;
    border-radius: 0px;
  }

  .mat-form-field-underline {
    display: none;
  }
}

.search-input {
  width: 100%;
}

::ng-deep {
  .mat-paginator-container,
  .mat-paginator-page-size .mat-select-trigger {
    font-weight: bold;
    font-size: 16px;
  }
}

.ico-color {
  color: $o-orange;
}
