@import "./../../../../shared/scss/colors";

.dialog-title {
  line-height: 0px;
}

mat-icon {
  cursor: pointer;
}

mat-icon:hover {
  color: $o-orange;
}

.avatar {
  padding-top: 30px;
  margin-left: -2em;

  img {
    height: 200px;
    width: 200px;
    margin-left: 5em;
  }

  .transport-type {
    img {
      padding: 15px;
    }
  }
}

// scroll
.mat-dialog-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.mat-dialog-container::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.mat-dialog-container::-webkit-scrollbar-thumb {
  background-color: $o-orange;
  border-radius: 5px;
}

.mat-hint {
  color: #e91e63;
}

.warn {
  color: #e91e63;
}

.image-to-upload-label {
  display: inline-block;
  padding: 0.5rem;
  border: 1px solid $o-orange;
  font-family: sans-serif;
  cursor: pointer;
  margin-top: 1rem;
}

:host ::ng-deep {
  .mat-form-field-label,
  .mat-select-value-text {
    padding-left: 5px;
    padding-right: 5px;
  }
}
