<section class="notifications p-5">
    <div class="row">

        <h1 class="col-10">
            {{'Notifications' | translate}}
        </h1>

        <a class="col-2 pt-4">
            <button mat-button color="primary" (click)="markThemAsRead()"> {{'Mark them as read' | translate}}</button>
        </a>
    </div>

    <mat-selection-list (selectionChange)="onSelection($event)">
        <mat-list-option *ngFor="let notification of notifications" [value]="notification">
            <span>
                <b>
                    {{notification.title}}
                </b>
            </span>
            <span class="mt-1">
                {{notification.body}}
            </span>
            <span class="mt-1">
                {{notification.createdDate  | dateToTimezone}}
            </span>

            <mat-divider></mat-divider>

        </mat-list-option>

    </mat-selection-list>

    <mat-paginator [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="onChangePage($event)">
    </mat-paginator>

</section>