@import "./../../../../shared/scss/colors";

form {
    h2 {
        color: $o-orange;
        font-size: 16px;
    }

    .cancel {
        cursor: pointer;
    }
}

:host ::ng-deep {
    .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
        padding: 0px;
    }
    .mat-form-field-underline {
        display: none;
    }

    .mat-dialog-container {
        border-radius: 30px;
    }
}
