@import "./../../../../shared/scss/colors";

.team {
  form {
    h4 {
      color: gray;
      font-size: 16px;
    }
  }
  .close {
    cursor: pointer;
  }
}

::ng-deep {
  .mat-dialog-container {
    border-radius: 30px;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0px;
    padding-left: 5px;
    border-radius: 0px;
  }

  .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
    padding: 0px;
  }

  .mat-form-field-underline {
    display: none;
  }
}
