<section class="activity">
    <div class="row">
        <div class="col-6">
            <h2>
                {{'Account Logs' | translate}}
            </h2>
        </div>

        <mat-form-field class="full-width col-3">
            <select matNativeControl #tableName (change)="filterData(tableName.value,1)">
                <option value="All">{{'Web Hook' | translate}}</option>
                <option value="Driver">{{'Driver' | translate}}</option>
                <option value="Setting">{{'Auto assignment' | translate}}</option>
            </select>
        </mat-form-field>

        <div class="full-width col-3 mt-3">
            <ejs-daterangepicker (change)="onSelectDate($event)" [startDate]='startDate' [endDate]='endDate'>
            </ejs-daterangepicker>
        </div>
    </div>

    <br>

    <!-- export -->
    <div class="row mb-3" *ngIf="dataSource?.data.length > 0">
        <div class="col-12">
            <div class="text-right">
                <button mat-flat-button *ngxPermissionsOnly="['ExportReport']" color="primary" class="o-add-btn"
                    (click)="exportLogs()">{{'Export' | translate}}</button>
            </div>
        </div>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table"
        *ngIf="dataSource?.data.length > 0">

        <ng-container matColumnDef="createdBy_Id">
            <th mat-header-cell *matHeaderCellDef> {{'User' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.createdBy_Id}} </td>
        </ng-container>

        <ng-container matColumnDef="activityType">
            <th mat-header-cell *matHeaderCellDef> {{'Activity Type' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.activityType}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> {{'Description' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.description +" by " + element.createdBy_Id}} </td>
        </ng-container>

        <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef> {{'Date & Time' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.createdDate | dateToTimezone }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
        *ngIf="dataSource?.data.length > 0" (page)="onChangePage($event)">
    </mat-paginator>

</section>