@import "./../../../shared/scss/colors";

::ng-deep {
  .activity {
    padding: 0px 15px;
    .e-keyboard,
    .e-icons {
      color: black !important;
    }

    p {
      color: $o-dark-gray;
    }

    .custom-table {
      margin-top: 1em;
    }
  }

  table {
    width: 100%;

    th {
      color: blue;
    }
  }
}

::ng-deep {
  .mat-paginator-container,
  .mat-paginator-page-size .mat-select-trigger {
    font-weight: bold;
    font-size: 16px;
  }

  #ej2-datetimepicker_0_input ,.e-icons , .e-input-group-icon.e-range-icon::before, .e-control-wrapper .e-input-group-icon.e-range-icon::before{
    color: black !important;
  }
}

#ej2-datetimepicker_0_input ,.e-icons , .e-input-group-icon.e-range-icon::before, .e-control-wrapper .e-input-group-icon.e-range-icon::before{
  color: black !important;
}
