<mat-card class="tracking-card">
    <mat-card-content>
        <agm-map [latitude]="lat" [longitude]="lat">
            <agm-direction [origin]="origin" [destination]="destination" [renderOptions]="renderOptions"
                [markerOptions]="markerOptions">
            </agm-direction>
        </agm-map>

        <div class="p-3">
            <h2>
                {{'Driver' | translate}}: {{cardRouteData?.driver}}
            </h2>
            <h4>
                <b>
                    {{cardRouteData?.taskType}}: {{cardRouteData.time}}, {{cardRouteData.distance}}
                </b>
            </h4>
            <h4>
                <b>
                    {{"Address" | translate}}: {{cardRouteData?.address}}
                </b>
            </h4>
        </div>
    </mat-card-content>
</mat-card>