@import "./../../shared/scss/colors";

section {
  form {
    h1 {
      color: $o-dark-orange;
    }

    margin-top: 5em;
    background-color: white;
    padding: 15px;

    .icon {
      color: $o-dark-orange;
    }

    ::ng-deep .progress {
      margin: 0 auto;
    }
  }
}
