<section fxLayout="row wrap" fxLayoutAlign="center center">

    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate fxFlex="50%">
        <h1 class="text-center">{{'Reset Password' | translate}}</h1>
        <div class="container">
            <ng-container *ngIf="showForm">

                <mat-form-field>
                    <input type="password" matInput placeholder="New Password" formControlName="newPassword">
                    <mat-error *ngIf="!form.controls['newPassword'].valid">
                        {{getError('newPassword')}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input type="password" matInput placeholder="Confirm New Password"
                        formControlName="confirmPassword">
                    <mat-error *ngIf="!form.controls['confirmPassword'].valid">
                        {{getError('confirmPassword')}}
                    </mat-error>
                </mat-form-field>

                <div fxLayout="row wrap mt-2">
                    <button type="submit" fxFlex="100%" mat-raised-button color="primary" mat-button
                        class="o-add-btn mt-3">
                        {{'Send' | translate}}
                    </button>

                    <a fxFlex="100%" mat-button color="primary" [routerLink]="login" class="mt-3">
                        {{'Back to Sign in' | translate}}</a>
                </div>
            </ng-container>

            <ng-container *ngIf="success">
                {{'Your password has been changed successfully.' | translate}} <a
                    [routerLink]="loginRoute">{{'Login' | translate}}</a>
            </ng-container>

        </div>
    </form>

</section>