<section *ngIf="currentState">
    <span class="user">
        Welcome, {{user?.userName}}
    </span>

    <button [matMenuTriggerFor]="profile" mat-icon-button>
        <img src="assets/images/users/1.jpg" alt="user" class="profile-pic">
    </button>

    <mat-menu #profile="matMenu" class="mymegamenu">
        <button mat-menu-item disabled>
            <mat-icon>settings</mat-icon> Settings
        </button>
        <button mat-menu-item disabled>
            <mat-icon>account_box</mat-icon> Profile
        </button>

        <button mat-menu-item disabled>
            <mat-icon>notifications_off</mat-icon> Disable notifications
        </button>

        <button mat-menu-item (click)="signOut()">
            <mat-icon>exit_to_app</mat-icon> Sign Out
        </button>
    </mat-menu>
</section>