@import "./../../../shared/scss/colors";

.dirvers {
  .add {
    border-radius: 50px;
    background-color: $o-orange;
    color: white;

    .mat-icon {
      color: white;
    }
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding-top: 0px !important;
    border-radius: 0px;
    border: 2px solid $o-orange;
    padding-left: 10px;
    background-color: white;
  }

  .actions {
    padding-left: 15px;
    padding-top: 5px;
  }

  .mat-icon {
    color: $o-orange;
    cursor: pointer;
  }
}

.mat-card {
  padding: 15px !important;
  border-radius: 15px;
}

.Driver {
  padding: 15px;

  p {
    color: $grey;
  }

  .custom-table {
    margin-top: 1em;
  }
}

td {
  img {
    padding: 5px;
    height: 64px;
    width: 64px;
  }
}

.mat-menu-item:hover {
  border-left: 3px solid $o-orange;
  background: none !important;
  padding-left: 13px;
}

table {
  width: 100%;
}

.full-width {
  width: 100%;
}

.mat-form-field-infix {
  background-color: white;
  font-size: 16px;
  padding-left: 15px;
}

.search-icon {
  height: 48px;
  width: 48px;
  color: $o-orange;
}

.mat-list-item-content {
  height: 15px !important;
}

mat-form-field-underline {
  display: none !important;
}

.image {
  width: 64px;
  border-radius: 50%;
}

.p-15 {
  padding-left: 15px;
}
.mat-elevation-z8 {
  box-shadow: none;
}

::ng-deep {
  .dms-check .mat-checkbox-frame {
    border-color: $o-orange;
    border-width: 3px;
  }

  .mat-paginator-container,
  .mat-paginator-page-size .mat-select-trigger {
    font-weight: bold;
    font-size: 16px;
  }
}

.mat-form-field-underline {
  display: none;
}

td.mat-cell,
th.mat-header-cell {
  border: none;
}

th {
  color: blue;
}
