<div class="assign">
    <div class="row">
        <div class="col-12">
            <div class="text-right">
                <mat-icon class="close-icon float-right" (click)="close()" matTooltip="Close">close</mat-icon>
            </div>
        </div>
    </div>

    <div class="mat-header-row">
        <div class="col-3 mat-header-cell border-left" *ngIf="enableTeamsView">
            <input type="text" class="search-input" [(ngModel)]="teamsKeywods" (input)="onFilterTeams($event)"
                placeholder="{{'Search teams' | translate}}">
        </div>

        <div class="col-2 mat-header-cell border-left">
            {{'Geo fence' | translate}}
        </div>

        <div class="col-3 mat-header-cell border-left" *ngIf="enableTags">
            <input type="text" class="search-input" placeholder='{{"Search tags ..." | translate}}'
                [(ngModel)]="tagsKeywods" (input)="onFilterTags($event)">
        </div>

        <div class="col-4 mat-header-cell">
            <input type="text" class="search-input" placeholder='{{"Search drivers" | translate}} {{drivers?.length}}'
                [(ngModel)]="driversKeywods" (input)="onFilterDrivers($event)">
        </div>
    </div>

    <div class="row" style="margin: 0px;">
        <div class="col-3 mat-cell border-left scroll" *ngIf="enableTeamsView">
            <div class="automatic-assign">
                {{"All Teams" | translate}} <mat-checkbox [(ngModel)]="enableTeams" (change)="onChangeAllTeams($event)"
                    class="enable">
                </mat-checkbox>
            </div>
            <mat-list role="list">
                <mat-selection-list [(ngModel)]="teamIds" (ngModelChange)="onSelectTeams($event)" class="drivers-list">
                    <mat-list-option *ngFor=" let team of teams" [value]="team.id">
                        <div fxFlexLayout="row wrap" fxLayoutGap="5px">
                            <p>
                                {{team.name | slice:0:10}} {{team.name.length > 10 ? '...' : ''}}
                            </p>
                        </div>
                    </mat-list-option>
                </mat-selection-list>
            </mat-list>
        </div>

        <div class="col-2 mat-cell border-left scroll">
            <mat-radio-group [disabled]="disableSelectGeofences" [(ngModel)]="restrictGeofences">
                <mat-radio-button color="primary" [value]="true" class="p-2">
                    {{"Yes" | translate}}
                </mat-radio-button>
                <br>
                <mat-radio-button color="primary" [value]="false" class="mt-3 p-2">
                    {{"No" | translate}}
                </mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="col-3 mat-cell border-left scroll" *ngIf="enableTags && tags?.length > 0">
            <mat-selection-list [(ngModel)]="selectedTags" (ngModelChange)="onSelectTags($event)">
                <mat-list-option *ngFor="let tag of tags" [value]="tag">
                    {{tag}}
                </mat-list-option>
            </mat-selection-list>
        </div>

        <div class="col-4 mat-cell scroll">
            <div class="automatic-assign" *ngIf="enableAutomaticAssign">
                {{'Automatic assign' | translate}} <mat-slide-toggle [disabled]="!isDefaultEnableAutoAllocation"
                    [(ngModel)]="enableAutomaticAssign" (change)="onChangeAutomaticAssign($event)" class="enable">
                </mat-slide-toggle>
            </div>

            <!-- <div class="no-of-drivers" *ngIf="enableAutomaticAssign">
                <label>No of Drivers</label>
                <input type="number" [(ngModel)]="driversCount" class="search-input">
            </div> -->

            <hr *ngIf="enableAutomaticAssign">

            <mat-selection-list [(ngModel)]="selectedDrivers" (ngModelChange)="onSelectDrivers($event)"
                class="drivers-list">
                <mat-list-option *ngFor=" let driver of drivers" [value]="driver.id" (click)="onSelect(driver)">
                    <div fxFlexLayout="row wrap" fxLayoutGap="5px">
                        <div fxFlex="40%">
                            <img class="driver-image"
                                src="{{driver.imageUrl == undefined? placeholder : imageUrl + driver.imageUrl}}">
                        </div>
                        <div fxFlex="55%">
                            <p class="no-margin">
                                <b class="driver-name">{{driver.name}}</b>
                            </p>
                            <p class="no-margin">
                                <!-- <mat-icon [ngClass]="driver?.agentStatusName">
                                    brightness_1
                                </mat-icon> -->
                                <span class="status">
                                    {{driver.agentStatusName | translate}}
                                </span>
                            </p>
                        </div>
                    </div>
                </mat-list-option>
            </mat-selection-list>
        </div>

    </div>
</div>