@import "./../../../shared/scss/colors";

:host ::ng-deep {
  .mat-dialog-container {
    padding: 0px !important;
    border-radius: 0px !important;
    overflow: visible;
    height: 80%;
    box-shadow: none;
  }
  .mat-pseudo-checkbox {
    border-radius: 10px;
  }

  .close-icon {
    color: #b00020;
    cursor: pointer;
  }
}

.spinner {
  margin: 0 auto;
  margin-top: 7.5em;
  stroke: $o-orange;
}

.assign {
  height: 80%;
}

.mat-row,
.mat-header-row {
  display: flex;
  align-items: center;
  padding: 0px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  font-size: 16px;
  font-weight: 500;

  .search-input {
    border: none;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    background-image: url("assets/images/icons/search.png");
    background-position: 7px 7px;
    background-repeat: no-repeat;
    background-position: right;
    width: 95%;
  }
}

.mat-row {
  border-bottom: 2px solid lightgray;
}

.mat-cell {
  height: 300px;
  overflow: auto !important;
  border-bottom: 1px solid lightgray;
}

.mat-cell,
.mat-header-cell {
  flex: 2;
  overflow: hidden;
  word-wrap: break-word;
}

.border-left {
  border-right: 2px solid lightgray;
}

.driver-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.green {
  color: green;
  font-size: 10px;
}

.Offline {
  color: gray;
  font-size: 10px;
}

.driver-name {
  font-size: 12px;
  font-weight: 600;
}

.no-margin {
  margin: 0px;
  margin-bottom: 5px;
}

.status {
  font-size: 12px;
}

.automatic-assign {
  padding: 15px;

  .enable {
    float: right;
  }
}

.no-of-drivers {
  margin-top: 15px;
  padding-left: 15px;

  .search-input {
    background-image: none;
  }
}

.drivers-list {
  max-width: 400px;
}

:host ::ng-deep {
  .mat-list-item-content {
    margin-top: 20px;
    font-size: 12px;
  }

  .mat-list-option {
    height: 25px;
  }
  .mat-radio-outer-circle {
    border-style: none;
  }

  .mat-radio-inner-circle {
    background-color: #1e88e5;
  }
}
