<section fxLayout="row wrap" fxLayoutAlign="center center">


    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate fxFlex="40%">
        <h1 class="text-center pb-2">{{"Forgot Password" | translate }}</h1>

        <p>{{"Enter your registered email, to recieve reset password instructions" | translate }}</p>

        <mat-form-field class="mt-3">
            <mat-label>{{"Email" | translate }}</mat-label>
            <input type="text" matInput formControlName="email">
            <mat-icon matSuffix class="icon">mail_outline</mat-icon>
            <mat-error *ngIf="!form.controls['email'].valid">
                {{getError('email')}}
            </mat-error>
        </mat-form-field>

        <br>
        <br>

        <div fxLayout="row wrap">
            <button type="submit" fxFlex="100%" mat-raised-button color="primary" mat-button class="o-add-btn mt-3">
              {{"Send" | translate }}
            </button>

            <a fxFlex="100%" mat-button color="primary" [routerLink]="login" class="mt-3">   {{"Send Back to Sign in" | translate }}</a>
        </div>

    </form>

</section>
