@import "./../../shared/scss/colors";

section {
  form {
    h1 {
      color: $o-dark-orange;
    }

    line-height: 1px;
    margin-top: 5em;
    background-color: white;
    padding: 15px;

    .icon {
      color: $o-dark-orange;
    }

    ::ng-deep .progress {
      margin: 0 auto;
    }

    .custom-input {
      background-color: white;
      border: 1px solid $o-gray;
      border-radius: 0px;
    }
  }
}
