@import "./../../../../shared/scss/colors";

.mat-dialog-content {
  padding: 0px;
  margin: 0px;
}

.error {
  color: #e91e63;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::ng-deep {
  .mat-dialog-container {
    border-radius: 30px;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0px;
    padding-left: 5px;
    border-radius: 0px;
  }

  .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
    padding: 0px;
  }

  .mat-form-field-underline {
    display: none;
  }
}

.close {
  cursor: pointer;
}
