<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="row">

    <div class="col-6">
        <mat-form-field appearance="fill">
            <mat-label class="dms-label-color">{{'Full Name' | translate}}</mat-label>
            <input matInput formControlName="firstName">
            <mat-error *ngIf="!form.controls['firstName'].valid">
                {{getError('firstName')}}
            </mat-error>
        </mat-form-field>
    </div>

    <div class="col-6">
        <mat-form-field appearance="fill">
            <mat-label class="dms-label-color">{{'Email' | translate}}</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-error *ngIf="!form.controls['email'].valid">
                {{getError('email')}}
            </mat-error>
        </mat-form-field>
    </div>

    <div class="col-6">
        <div class="row">
            <app-country-codes class="col-2" [previousCountryId]="countryId" (country)="onChangeCountry($event)">
            </app-country-codes>
            <mat-form-field appearance="fill" class="col-10">
                <mat-label class="dms-label-color">{{'Phone' | translate}}</mat-label>
                <input matInput type="number" formControlName="phone">
                <mat-error *ngIf="!form.controls['phone'].valid">
                    {{getError('phone')}}
                </mat-error>
            </mat-form-field>
            <span class="error ml-5" *ngIf="numberMessage !=''">
                *{{numberMessage}}
            </span>
        </div>
    </div>

    <div class="col-6">
        <mat-form-field appearance="fill">
            <mat-label class="dms-label-color"> {{'What is Your Company Address ?' | translate}} </mat-label>
            <input matInput formControlName="companyAddress">
        </mat-form-field>
    </div>

    <div class="col-6">
        <mat-form-field appearance="fill">
            <mat-label class="dms-label-color">{{'What is Your Company Name ?' | translate}}</mat-label>
            <input matInput formControlName="companyName">
        </mat-form-field>
    </div>

    <div class="col-6">
        <mat-label class="dms-label-color">{{'Country' | translate}}</mat-label>
        <app-countries [previousCountryId]="residentCountryId" (country)="onChangeResidentCountry($event)">
        </app-countries>
    </div>

    <div class="col-6">
        <mat-form-field appearance="fill">
            <mat-label class="dms-label-color"> {{'User ID' | translate}}</mat-label>
            <input matInput formControlName="id">
        </mat-form-field>
    </div>

    <!-- <div class="col-6">
        <mat-label class="dms-label-color"> {{'Display image' | translate}}</mat-label>
        <mat-radio-group class="type-radio-group" formControlName="displayImage">
            <mat-radio-button class="type-radio-button" *ngFor="let type of types" [value]="type.value">
                {{type.name}}
            </mat-radio-button>
        </mat-radio-group>
    </div> -->

    <div class="col-12 align-right-button">
        <button mat-raised-button color="primary" type="submit"
            class="confirm-btn o-add-btn">{{'Update' | translate}}</button>
    </div>
</form>