<section>
  <div class="access-control">
    <h2 class="dms-page-title">{{header}}</h2>

    <p>
      {{'Add roles with customized permissions as per your requirement' | translate }}.
    </p>

    <button mat-raised-button color="primary" (click)="openRoleDialog()"
      class="o-add-btn mt-b-1">{{'Add Role' | translate }}
    </button>

    <table mat-table [dataSource]="roles" class="mat-elevation-z8 roles-table" *ngIf="roles.length > 0">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="id"> # </th>
        <td mat-cell *matCellDef="let element; index as i"> {{i+1}} </td>
      </ng-container>

      <ng-container matColumnDef="roleName">
        <th mat-header-cell *matHeaderCellDef> {{'Role Name' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.roleName}} </td>
      </ng-container>

      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef> {{'Creation date' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.creationDate | dateToTimezone}} </td>
      </ng-container>

      <ng-container matColumnDef="actions" *ngxPermissionsOnly="Tenant">
        <th mat-header-cell *matHeaderCellDef> {{'Actions' | translate}} </th>
        <td mat-cell *matCellDef="let element">
          <button *ngxPermissionsOnly="Tenant" mat-icon-button (click)="selectedRole = element"
            [matMenuTriggerFor]="menu" aria-label="Actions">
            <mat-icon>more_horiz</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openRoleDialog(selectedRole)" *ngxPermissionsOnly="Tenant">
          <span>{{'Edit' | translate}}</span>
        </button>
        <button mat-menu-item *ngxPermissionsOnly="Tenant">
          <span>
            <app-confirm-deletion [dialogContent]="dialogContent" (confirm)="onConfirm($event)">
            </app-confirm-deletion>
          </span>
        </button>
      </mat-menu>
    </table>

    <mat-paginator [length]="roles.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

</section>