<a mat-list-item (click)="onItemSelected(item)"
    [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}"
    class="menu-list-item" routerLinkActive="{{item.route == '/'? 'selected':''}}"
    *ngxPermissionsOnly="item.permissions" routerLink="{{item.route}}">
    <mat-icon class="routeIcon">{{item.icon}}</mat-icon>
    {{item.name | translate}}
    <span fxFlex *ngIf="item.children && item.children.length">
        <span fxFlex></span>
        <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'" style="margin-right: 100px">
            expand_more
        </mat-icon>
    </span>
</a>
<div *ngIf="expanded">
    <app-menu-list-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
    </app-menu-list-item>
</div>