:host {
    .mat-list-item.active {
        background-color: #fff7e9;
    }
    &:hover,
    &:focus {
        > .mat-list-item:not(.expanded) {
            background-color: #fff7e9;
        }
    }
}

.mat-list-item {
    display: flex;
    width: auto;

    .routeIcon {
        margin-right: 10px;
    }
}
