.assign-driver {
    .geo-btn {
        padding-top: 15px;
    }
}

:host ::ng-deep {
    .mat-dialog-container {
        padding: 15px !important;
        border-radius: 30px !important;
    }

    .mat-form-field-appearance-fill .mat-form-field-flex {
        padding: 0px;
        padding-left: 5px;
        border-radius: 0px;
    }

    .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
        padding: 0px;
    }

    .mat-form-field-underline {
        display: none;
    }
}
