<section>
  <div class="branches">
    <h2>{{"Branches" | translate}} </h2>
    <p>
      {{"Organize your Branches to efficiently manage them." | translate}}
    </p>
    <button mat-raised-button color="primary" *ngxPermissionsOnly="['AddBranch']"
      (click)="openManageBranchDialog('add')" class="o-add-btn">
      {{'Add Branch' | translate}}
    </button>
  </div>

  <section *ngxPermissionsOnly="['ReadBranch']">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="totalCount > 0">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element; let index = index"> {{index + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{'Name' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="zone">
        <th mat-header-cell *matHeaderCellDef> {{'Zone Name' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{getGeoFenceName(element.geoFenceId)}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> {{'Status' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{getStatusName(element?.isActive)}} </td>
      </ng-container>

      <!-- actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> {{'Actions'  | translate}} </th>
        <td mat-cell *matCellDef="let element">
          <button *ngxPermissionsOnly="['UpdateBranch','DeleteBranch','BlockBranch','UnBlockBranch']"
            (click)="setTSelectablBranch(element)" mat-icon-button [matMenuTriggerFor]="actions" aria-label="Actions">
            <mat-icon class="actions">more_horiz</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="length" *ngIf="totalCount > 0" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent = getServerData($event)">
    </mat-paginator>

  </section>

  <!-- actions menu -->
  <mat-menu #actions="matMenu">
    <button mat-menu-item *ngxPermissionsOnly="['UpdateBranch']"
      (click)="openManageBranchDialog('edit')">{{'Edit' | translate}}</button>

    <button mat-menu-item *ngxPermissionsOnly="['DeleteBranch']">
      <app-confirm-deletion [dialogContent]="dialogContent" (confirm)="onConfirm($event)"></app-confirm-deletion>
    </button>

    <div *ngxPermissionsOnly="['BlockBranch']">
      <button mat-menu-item *ngIf="selectedBranch?.isActive" (click)="blockBranch()">{{'Block' | translate}}</button>
    </div>

    <span *ngxPermissionsOnly="['UnBlockBranch']">
      <button mat-menu-item *ngIf="!selectedBranch?.isActive">
        <app-confirm-deletion [dialogContent]="unlockDialogContent" (confirm)="unBlockBranch($event)">
        </app-confirm-deletion>
      </button>
    </span>

  </mat-menu>

</section>