@import "~bootstrap/scss/bootstrap-grid";
@import "~leaflet/dist/leaflet.css";
@import "./app/shared/scss/colors";
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css";
@import "../node_modules/ngx-toastr/toastr.css";
@import "../node_modules/material-design-icons/iconfont/material-icons.css";

@font-face {
  font-family: Montserrat;
  src: url(assets/fonts/Montserrat-Regular.ttf);
}

* {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.light-logo {
  height: 60px;
}

.mat-drawer-inner-container {
  color: rgb(116, 116, 116);
}

.link-white {
  color: white;
}

.no-btn-style {
  border: none;
  border-radius: 0px;
  background: none;
  cursor: pointer;
  padding: 10px;
  padding-left: 0px;
}

.no-btn-style:hover {
  font-weight: 500;
}

::ng-deep .mat-dialog-container {
  border-radius: 0px !important;
  overflow-x: hidden !important;
}

// scroll
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.scroll::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: $o-orange;
  border-radius: 5px;
}

::ng-deep .circle-btn {
  border-radius: 25px;
  border: none;
}

::ng-deep .mat-accordion {
  border-radius: 0px;
}

mat-paginator {
  background-color: $bg !important;
}

.o-add-btn {
  border-radius: 50px !important;
  color: white;
  background: rgb(252, 197, 0);
  background: linear-gradient(180deg, rgba(252, 197, 0, 1) 35%, rgba(224, 88, 51, 1) 100%);
}

h4 {
  font-weight: bold;
  color: $o-orange;
}

.mat-form-field :hover {
  border-radius: 0px !important;
}

.star {
  color: rgb(247, 18, 18);
}

.mat-pseudo-checkbox-checked,
.mat-slide-toggle-thumb {
  background-color: $o-orange !important;
}

.error {
  color: #e91e63;
}

//responsive checkbox label
.mat-checkbox-label {
  white-space: normal !important;
}

//align bottons of dialog to right..
.mat-dialog-actions {
  justify-content: flex-end !important;
}

// angular material global stylesheet
.no-padding-dialog .mat-dialog-container {
  padding: 0;
  border-radius: 0px;
}

.warn {
  color: #e91e63;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

th button {
  font-weight: bold;
  color: blue;
}

th,
tr:nth-child(even) {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: #f4f9ff;
}

.mat-actions {
  font-size: 2.5em;
}

::ng-deep mat-checkbox {
  color: $o-orange !important;
}

.btn-gradient {
  color: white;
  background: rgb(252, 197, 0);
  background: linear-gradient(180deg, rgba(252, 197, 0, 1) 35%, rgba(224, 88, 51, 1) 100%);
}

.dialog-title {
  font-size: 20px;
  color: black;
}

.dms-label-color {
  color: $o-orange;
}

.dms-icon-color {
  color: $o-orange;
}

.cr-point {
  cursor: pointer;
}

.dms-page-title {
  color: $o-orange;
}
