@import "./../../../shared/scss/colors";
$error: #e91e63;

.create-task {
  position: relative;
  background-color: white;

  .tasks-list {
    height: 450px;
    overflow-y: auto;
  }

  top: 75px;
  height: 550px;
  overflow-y: auto;

  .add {
    color: $o-gray;
  }

  .task-main-type {
    color: black;
    background-color: white;
    padding: 15px;
    border: none;
  }

  .close {
    cursor: pointer;
    padding-top: 25px;
    font-size: 18px;
  }

  .not-valid {
    color: $error !important;
    max-width: 35em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .crop {
    max-width: 35em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  ​ .title {
    color: $o-light-black;
  }

  .place-icon:hover {
    color: $o-orange;
    cursor: pointer;
  }

  .icon:hover {
    -webkit-animation: rotate 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: rotate 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .task {
    padding: 25px;

    ::ng-deep .mat-expansion-indicator::after {
      margin-bottom: 10px !important;
    }

    .add-new-point {
      margin-top: 1em;
      margin-bottom: 1em;
      padding-top: 15px;
      padding-bottom: 10px;
      background-color: white;
      color: rgb(30, 168, 233);
      font-weight: 500;
      padding-left: 15px;
    }

    .mat-expansion-panel {
      box-shadow: none;
      border: 1px solid $o-gray;
      margin-bottom: 15px;

      .mat-expansion-panel-header {
        font-weight: bold;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 5px;

        .mat-icon {
          color: $o-dark-gray;
        }

        .mat-icon:hover {
          color: red !important;
        }
      }
    }

    .image-upload {
      img {
        height: 75px;
        width: 75px;
      }
    }
    @-webkit-keyframes rotate {
      0% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
        opacity: 0;
      }
      100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
      }
    }
    @keyframes rotate {
      0% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
        opacity: 0;
      }
      100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
      }
    }

    .image-upload > input {
      display: none;
    }

    .image-upload img {
      cursor: pointer;
    }

    .mat-option-text {
      border-bottom: 1px solid $o-dark-gray !important;
    }
  }
}

.tags-list {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 50px;
}

.create-task-btn {
  background-color: $o-orange;
  border: 2px solid $o-orange;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.create-task-btn:hover {
  border: 2px solid $o-orange;
  background-color: white;
  color: $o-orange;
}

.assign-btn {
  border-radius: 50px;
  border: 2px solid $o-orange;
  background: none;
  color: $o-orange;
  font-weight: bold;
  font-size: 16px;
}

.actions {
  margin: 50px -10px;
  padding-top: 15px;
  background-color: white;
  position: relative;
}

::ng-deep {
  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: $o-orange;
  }
}
