<section class="agents p-2 row m-1">

  <div class="col-12 row">
    <!-- filter -->
    <mat-form-field class="full-width col-4" appearance="fill">
      <mat-label>
        <mat-icon matSuffix class="search-icon">search</mat-icon>
        {{'Search Task' | translate}}
      </mat-label>
      <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>

    <div class="actions col-6">
      {{'Merge connected tasks' | translate}}
      <mat-slide-toggle [(ngModel)]="checked" (change)="onChangeTasks($event)"></mat-slide-toggle>

      <button mat-button matTooltip="{{'Refersh' | translate}}" (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>

      <button mat-button matTooltip="{{'Filter drivers table' | translate}}" [matMenuTriggerFor]="colsToDisplay">
        <mat-icon>hourglass_empty</mat-icon>
      </button>

      <button mat-stroked-button color="primary" [matMenuTriggerFor]="filters">
        {{'All filters' | translate}} <mat-icon>
          arrow_drop_down
        </mat-icon>
      </button>
    </div>

  </div>

  <!-- tasks table -->
  <table *ngIf="sortedData.length > 0 && !checked" mat-table [dataSource]="sortedData" class="col-12 custom-table mt-2"
    matSort (matSortChange)="sortData($event)" matSortDirection="asc" matSortDisableClear fxFlex="100%">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="id"> {{'Task ID' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="primary" (click)="viewTaskDetails(element)">
          {{element.id}}
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="orderId"> {{'Order ID' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.orderId}} </td>
    </ng-container>

    <ng-container matColumnDef="teamName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="teamName"> {{'Team Name' | translate}} </th>
      <td mat-cell *matCellDef="let element" class="pl-1 pr-1" matTooltip="{{element.teamName}}">
        {{element.teamName | truncateText:[15]}} </td>
    </ng-container>

    <ng-container matColumnDef="taskTypeName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="taskTypeName"> {{'Task type' | translate}} </th>
      <td mat-cell *matCellDef="let element" class="pl-1 pr-1"> {{element.taskTypeName | translate}} </td>
    </ng-container>

    <ng-container matColumnDef="driverName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="driverName"> {{'Driver Name' | translate}} </th>
      <td mat-cell *matCellDef="let element" class="pl-1 pr-1" matTooltip="{{element.driverName}}">
        {{element.driverName | truncateText:[15]}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> {{'Name' | translate}} </th>
      <td mat-cell *matCellDef="let element" class="pl-1 pr-1" matTooltip="{{element.customer?.name}}">
        {{element.customer?.name  | truncateText:[15]}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="address"> {{'Address' | translate}} </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{element.customer?.address}}">
        {{element.customer?.address | truncateText:[15]}} </td>
    </ng-container>

    <ng-container matColumnDef="pickupDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="pickupDate"> {{'Start Before' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.pickupDate | date:'d-M-yyyy h:mm a'}} </td>
    </ng-container>

    <ng-container matColumnDef="deliveryDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="deliveryDate"> {{'Complete Before' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.deliveryDate | date:'d-M-yyyy h:mm a'}} </td>
    </ng-container>

    <ng-container matColumnDef="taskStatusName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="taskStatusName"> {{'Task Status' | translate}} </th>
      <td mat-cell *matCellDef="let element">
        <p [ngClass]="element.taskStatusName" class="status-width">
          {{element.taskStatusName | translate}}
        </p>
      </td>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> {{'Actions' | translate}} </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="actions" aria-label="Actions" (click)="setTSelectTask(element)">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="selectedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: selectedColumns;"></tr>
  </table>

  <div class="col-12">
    <mat-paginator [length]="length" *ngIf="sortedData.length > 0 && !checked" [pageSize]="pageSize"
      [pageSizeOptions]="[10, 25, 50 ,100]" (page)="pageEvent = getServerData($event)">
    </mat-paginator>
  </div>

  <table mat-table [dataSource]="connectedTasksDataSource" class="custom-table col-12 mt-2"
    *ngIf="connectedTasksDataSource?.data.length > 0 && checked">
    <ng-container matColumnDef="taskId">
      <th mat-header-cell *matHeaderCellDef> {{'Task ID' | translate}} </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="primary" (click)="viewTaskDetailsForConnectedTask(element)">
          {{element.id}}
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef> {{'Order ID' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="team">
      <th mat-header-cell *matHeaderCellDef> {{'Team name' | translate}} </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{element.teamName}}"> {{element.teamName | truncateText:[15]}}
      </td>
    </ng-container>

    <ng-container matColumnDef="driverDetails">
      <th mat-header-cell *matHeaderCellDef> {{"Driver details" | translate}} </th>
      <td mat-cell *matCellDef="let element">
        <div class="row">
          <div matTooltip="{{element.driverName}}">
            {{element.driverName | truncateText:[15]}}
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="pickupDetails">
      <th mat-header-cell *matHeaderCellDef> {{'Pickup details' | translate}} </th>
      <td mat-cell *matCellDef="let element">
        <div *ngFor="let task of element.tasks">
          <div *ngIf="task.taskTypeId == 1">
            <h4>
              {{task.pickupDate | date:'d-M-yyyy h:mm a'}}
            </h4>
            <h5 matTooltip="{{task?.customer?.name}}">
              {{task?.customer?.name | truncateText:[15]}}
            </h5>
            <h5>
              {{task?.customer?.phone}}
            </h5>
            <h5 matTooltip="{{task?.customer?.address}}">
              {{task?.customer?.address | truncateText:[15]}}
            </h5>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="deliveryDetails">
      <th mat-header-cell *matHeaderCellDef> {{'Delivery details' | translate}} </th>
      <td mat-cell *matCellDef="let element">
        <div *ngFor="let task of element.tasks">
          <div *ngIf="task.taskTypeId == 2">
            <h4>
              {{task.deliveryDate | date:'d-M-yyyy h:mm a'}}
            </h4>
            <h5 matTooltip="{{task?.customer?.name}}">
              {{task?.customer?.name | truncateText:[15]}}
            </h5>
            <h5>
              {{task?.customer?.phone}}
            </h5>
            <h5 matTooltip="{{task?.customer?.address}}">
              {{task?.customer?.address | truncateText:[15]}}
            </h5>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="taskStatus">
      <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Task status' | translate}} </th>
      <td mat-cell *matCellDef="let element">
        <p [ngClass]="element.mainTaskStatusName" class="status-width">
          {{element.mainTaskStatusName | translate}}
        </p>
      </td>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> {{'Actions' | translate}} </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="connectedTasksActions" (click)="setTSelectConnectedTasks(element)">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="connectedTasksDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: connectedTasksDisplayedColumns;"></tr>
  </table>

  <div class="col-12" *ngIf="connectedTasksDataSource?.data.length > 0 && checked">
    <mat-paginator [pageSizeOptions]="[10, 25, 50 ,100]" [pageSize]="connectedTasksPageSize"
      [length]="connectedTasksCount" (page)="onChangePage($event,'connectedTasks')">
    </mat-paginator>
  </div>
</section>

<!-- actions menu -->
<mat-menu #actions="matMenu">
  <button mat-menu-item (click)="openAssignDriverDialog()"
    *ngIf="selectedTask?.taskStatusId == 1 && selectedTask?.taskStatusId != 6">
    {{'Assign' | translate}}</button>

  <button mat-menu-item (click)="openAssignDriverDialog()"
    *ngIf="selectedTask?.taskStatusId != 1 && selectedTask?.taskStatusId != 6">
    {{'Re-Assign' | translate}}</button>

  <button mat-menu-item>
    <app-confirm-deletion [dialogContent]="dialogContent" (confirm)="onConfirm($event,'notConnected')">
    </app-confirm-deletion>
  </button>

  <button mat-menu-item (click)="openEditTaskDialog()"
    *ngIf="selectedTask?.taskStatusId != 6">{{'Edit' | translate}}</button>

  <button mat-menu-item (click)="export()"
    *ngIf="selectedTask?.taskStatusId == 6 || selectedTask?.taskStatusId == 7 || selectedTask?.taskStatusId == 9 ">{{'Export' | translate}}</button>


  <button mat-menu-item (click)="openStopStatusDialog(selectedTask)"
    *ngIf="selectedTask?.taskStatusId > 1  ">{{'Change Status' | translate}}</button>


</mat-menu>


<!-- connected tasks actions menu -->
<mat-menu #connectedTasksActions="matMenu">
  <button mat-menu-item (click)="openAssignDriverDialog()"
          *ngIf="selectedMainTask?.mainTaskStatus != 1 && selectedMainTask?.mainTaskStatus != 3">
    {{'Re-Assign' | translate}}
  </button>

  <button mat-menu-item (click)="openAssignDriverDialog()"
          *ngIf="selectedMainTask?.mainTaskStatus == 1 && selectedMainTask?.mainTaskStatus != 3">
    {{'Assign' | translate}}
  </button>

  <button mat-menu-item style="font-size: 16px;font-weight: 600">
    <app-confirm-deletion [dialogContent]="dialogContent" (confirm)="onConfirm($event,'connected')">
    </app-confirm-deletion>
  </button>
  <button mat-menu-item (click)="openEditConnectedTaskDialog()"
          *ngIf="selectedMainTask?.mainTaskStatus != 3">
    {{'Edit' | translate}}
  </button>


  <button mat-menu-item (click)="openMainTaskStatusDialog(selectedMainTask)">
    {{'Change Status' | translate}}
  </button>
</mat-menu>

<!-- display cols  menu -->
<mat-menu #colsToDisplay="matMenu">
  <mat-selection-list #columns [(ngModel)]="selectedColumns" (ngModelChange)="onfiltersChange()">
    <mat-list-option *ngFor="let column of displayedColumnsList" [value]="column.id">
      {{column.name}}
    </mat-list-option>
  </mat-selection-list>
</mat-menu>

<!-- filters menu -->
<mat-menu #filters="matMenu">
  <button mat-button (click)="onSelectAll()">{{'Check all' | translate}}</button>
  <br>
  <button mat-button (click)="onDeSelectAll()">{{'Uncheck all' | translate}}</button>

  <mat-divider></mat-divider>

  <mat-selection-list #columns (selectionChange)="onChange($event)">
    <mat-list-option *ngFor="let column of statusList" [value]="column.id"
      [selected]="taskStatusIds?.includes(column.id)">
      <p>
        <mat-icon [style.color]="column.color ? column.color : 'gray'">
          fiber_manual_record
        </mat-icon>

        <span style="top: 10px">
          {{column.name| translate }}
        </span>
      </p>
    </mat-list-option>

    <mat-list-option *ngIf="statusList.length == 0">
      <p>
        {{'Loading ...' | translate}
      </p>
    </mat-list-option>
  </mat-selection-list>
</mat-menu>
